Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^bazar\.applulbayt\.web\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bazar\.applulbayt\.web\.id$
RewriteRule ^(.*)$ "https\:\/\/bazar\.applulbayt\.web\.id\/$1" [R=301,L]

#prettyurl
#paste this code to your .htaccess file (don't forget to add "RewriteEngine on" at the beginning of the file if it's not already added)
RewriteRule ^login /?login [L]
RewriteRule ^register /?register [L]
RewriteRule ^about /?about [L]
RewriteRule ^dashboard /?dashboard [L]
RewriteRule ^logout /?logout [L]
RewriteRule ^search /?search [L]

RewriteRule ^product/([^/]*)$ /?product=$1 [L]
RewriteRule ^page/([^/]*)$ /?page=$1 [L]
RewriteRule ^page/([^/]*)/category/([^/]*)$ /?page=$1&category=$2 [L]
RewriteRule ^user/([^/]*)$ /?user=$1 [L]